html {
  scroll-behavior: smooth;
    overflow-x: hidden;
}

*, body {
    opacity: 1;
    padding: 0;
    margin: 0;
}
p, li, a, h1, h2, h3, input, body{
    font-family: "Proxima";
}
@font-face {
font-family: 'Proxima';
src: url('proxima-reg.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Proxima';
src: url('proxima-bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}
p {
    font-size: 14pt;
}
a {
    text-decoration: none;
    color: #32C63F;
}
.anchor {
    display: block;
    position: absolute;
    top: -100px;
    visibility: hidden;
}
.header {
    height: 100px;
    width: 100vw;
    position: fixed;
    background-color: rgba(26, 26, 26, 0.95);
    z-index: 1;
}
.home-link-wrapper {
}
.dp {
    height: 60px;
    margin: 18px 0 0 40px;
}
.menu {
    position: absolute;
    right: 40px;
    top: 38%;
}
.menu li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 80px;
    letter-spacing: 0.1em;
    font-size: 14pt;
}
.menu li a {
    color: white;opacity: 0.8;
}
.menu li a:hover {
    color: #32C63F;
    opacity:1;
}
.hamburger {
    display: none;
    position: fixed;
    top: 40px;
    right: 40px;
    color: white;
    letter-spacing: 0.1em;
}
.section {
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
    display: inline-block;
    margin-top:-3px;
    margin-bottom:-3px;
}
h1 {
    position:absolute;
    font-size: 100pt;
    bottom: 40px;
    left: 40px;
    max-width: 800px;
    color: white;
    line-height: 100pt;
}
.textbox {
    position: absolute;
    top: 140px;
    right: 40px;
    max-width: 600px;
    color: white;
}
.textbox p {
    
    font-size: 19pt;
    line-height: 24pt;
}
.messenger-link {
    position: absolute;
    bottom: 60px;
    left: 40px;
    height: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    animation: messenger-link-anim 1.5s infinite forwards ease-in-out;
    opacity: 0.8;
}
.messenger-link:hover {
    opacity: 1;
}

@keyframes messenger-link-anim {
    0%   { transform: translateY(0px);}
    30% { transform: translateY(2px);}
    100% { transform: translateY(0px);}
}
body.homepage .section1 h1 {
    color: white;
}
.section1 h1 {
    bottom: 150px;
}
.bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.section .bg-img, .bg-img-third-img {
    background-size: cover;
    z-index: -1;
}
.bg-img-third {
    width: 33.33%;
    height: calc(100vh - 100px);
    position: absolute;
    padding; 0;
    margin: 0;
    top: 0;
    z-index: -2;
}
.bg-img-third-img {
    width: 100%;
    height: 100%;
    position: absolute;
}
body.homepage .section1 .bg-img {
    background-image: url(images/kymellis.jpeg);
    background-position: 50%, 10%;
}
body.homepage .section4 .bg-img {
    background-image: url(images/services-bg.jpeg);
    background-position: top;
}
.first-third-column .bg-img-third-img {
    background-image: url(images/owngrown-pic.jpeg);
    background-position: 50%, 50%;
}
.second-third-column .bg-img-third-img {
    background-image: url(images/ssd-pic.png);
    background-position: 50%, 50%;
}
.first-third-column .bg-img-third {
    left: 0;
}
.second-third-column .bg-img-third {
    left: 33.33vw;
}
.third-third-column .bg-img-third {
        left: 66.66vw;
}
.third-column.second-third-column p {
    color: black;
}
.third-third-column .bg-img-third-img {
    background-image: url(images/culprit-pic.jpg);
    background-position: 50%, 50%;

}
body.homepage .section3 .bg-img {
    background-image: url(images/past-clients.jpeg);
}
body.servicespage .section1 .bg-img {
    background-image: url(images/audit.jpg);
    background-position: 50%, 10%;
}
body.servicespage .section2 .bg-img {
    background-image: url(images/management.jpg);
    background-position: 50%, 40%;
}
body.servicespage .section3 .bg-img {
    background-image: url(images/solutions.jpg);
    background-position: 50%, 0%;
    transform: scaleX(-1);
}
.darken {
    background-color: black;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
     transition: opacity 0.2s;
}
.third-column .darken {
    width: 33.33vw;
    position: absolute;
    top: 0;
    z-index: -1;
}
.first-third-column .darken {
    left:0;
}
.third-third-column .darken {
    left:66.66vw;
}
.img-credit {
    position: absolute;
    color: white;
    opacity: 0.8;
}
/*.img-credit:hover {
    opacity: 1;
}
.img-credit:hover a {
    color: #32C63F;
}*/
.img-credit a {
    color:white;
}
.section1 .img-credit {
    left: 20px;
    top: 140px;
}
body.homepage .section3 .img-credit, body.homepage .section4 .img-credit {
    left: 20px;
    top: 20px;
}
.next-button {
    position: absolute;
    bottom: 40px; right: 40px;
    height: 80px;
    animation: next-button-anim 3s infinite forwards ease-out;
}
.next-button:hover {
    opacity: 1;
    animation: none;
}
@keyframes next-button-anim {
    0%   { opacity: 0; transform: translateY(-4px);}
    30% { opacity: 0.4; transform: translateY(-2px);}
    95% { opacity: 0.4; transform: translateY(0px);}
    100% { opacity: 0; transform: translateY(2px);}
}


.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.third-column {
    flex: 0 0 auto;
    width: 33.33vw;
}
#lighten {
    background-color: white;
    opacity: 0.5;
}
.third-column:hover .darken, .third-column:hover #lighten {
    opacity: 0.8;
}
/*.third-column:hover .bg-img-third-img {
    transform: scale(1.2, 1.2);
}*/
.client-logo {
    width: 200px;
    position: relative;
    margin: 40px 0 40px 40px;
}
.third-column p {
    width: calc(33.33vw - 100px);
    padding-left: 40px;
    color: white;
    z-index: 1;
}
.third-column li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 40px;
    margin-right: 40px;
}
.third-column li img {
    width: 40px;
}

.section3 h1 {
    color: black;
}
.section3 .pastlogos-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pastlogos-wrapper li {
    display: inline-flex;
    
}
.past-logo {
    width: 120px;
    height: 120px;
    margin: 20px;
    clip-path: circle(58px at center);
}
.past-logo:hover {
    clip-path: circle(60px at center);
    
}
.linktree {
    position: absolute;
    right: 140px; bottom: 60px;
    background-color: #32C63F;
    border-radius: 10px;
    padding: 20px;
    display: none;
}
.linktree:hover li {
    opacity: 0.1;
}
.linktree li:hover {
    opacity: 1;
}
.linktree li {
    display: inline-block;
    transition: opacity 0.2s ease;
}
.linktree img {
    width: 20px;
    margin-right: 20px;
}
.linktree p {
    display: inline-block;
    font-size: 18pt;
    color: white;
}
.section4 h1 {
    color: black;
}
.section4 .services-icon-wrapper {
    position: absolute;
    font-size: 24pt;
    top: 40px;
    right: 40px;
    max-width: 600px;
}
.section4 .services-icon-wrapper li {
    list-style: none;
    margin-bottom: 40px;
}
.section4 .services-icon-wrapper img {
    width: 100px;
    display: inline-block; margin-right: 40px;
}
.section4 .services-icon-wrapper h3 {
    display: inline-block;
    max-width: 400px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.testimonial {
    padding: 40px;
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/*ABOUT*/


body.aboutpage .section1 .next-button {
    bottom: 80px;
}
.whoiam-img {
    height: 300px;
    top: 140px;
    left: 40px;
    position: absolute;
}

body.aboutpage .section h1 {
    bottom: 40px;
    color: white;
}
body.aboutpage .section1 h1, body.servicespage .section p, body.contactpage .section h1, body.contactpage .section .textbox p, .section h1, body.contactpage .section .textbox form {
    color: black;
}
body.homepage .section.section3 h1, body.homepage .section.section4 h1, body.homepage .section.section4 h3 {
    color: white;
}
body.homepage .section.section3 .black {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
body.homepage .section.section4 .services-icon-wrapper h3:hover {
    color: #32C63F;
}
body.aboutpage .section .textbox, body.servicespage .section .textbox {
    top: 40px;
}

body.aboutpage .section1 .textbox, body.servicespage .section1 .textbox {
    top: 140px;
    color: black;
}
body.aboutpage .section2 .bg-img {
    background-image: url("images/nickshotz.jpeg");
}
body.aboutpage .section3 .bg-img {
    background-image: url("images/timbennet.jpeg");
}
body.aboutpage .section4 .bg-img {
    background-image: url("images/headway.jpeg");
}
body.aboutpage .img-credit {
    left: 20px;
    top: 20px;
}

/*SERVICES*/

body.servicespage .section1 h1 {
    bottom: 40px;
}
body.servicespage .section h1 {
    font-size: 70pt;
    line-height: 70pt;
    color: white;
}
body.servicespage .section p {
    color: white;
}
body.servicespage .section3 h1 {
    font-size: 80pt; line-height: 80pt;
}
.green-button {
    padding: 20px;
    background-color: #32C63F;
    max-width: 50%;
    margin-top: 40px;
    float: left;
    border-radius: 10px;
    animation: green-button-anim 3s infinite forwards ease-out;
}
.green-button:hover {
    animation: none;
    opacity:1;
}

@keyframes green-button-anim {
    0%   { opacity: 0.8; transform: translateY(-2px);}
    30% { opacity: 1; transform: translateY(-1px);}
    95% { opacity: 1; transform: translateY(0px);}
    100% { opacity: 0.8; transform: translateY(2px);}
}
.section a .green-button p {
    color: white;
    font-size: 18pt;
    line-height: 24pt;
}

.section1 .servicespage-icon {
    top:140px;
}
.servicespage-icon {
    top: 40px;
    left: 40px;
    position: absolute;
    height: 300px;
}

/*CONTACT*/

body.contactpage .section1 h1 {
    top: 140px;
}
form {
    margin-top: 40px;
}
.textbox form p {
    font-size: 14pt;
    margin-bottom: 5pt;
}
input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    
    background-color: white;
    margin-bottom: 15px;
    min-height: 30px;
    border-radius: 2pt;
    display: inline-block;
    
}
.message {
    height: 40px;
    width: 560px;
}
.submit {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
    background-color: #32C63F;
    color: white;
}
.testimonial li {
    list-style: none;
}
body.contactpage .testimonial {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 100px;
}
body.contactpage .testimonial li {
    animation: testimonial-fade 12s infinite forwards;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
body.contactpage .testimonial li:nth-child(2) {
    animation-delay: 4s;
}
body.contactpage .testimonial li:nth-child(3) {
    animation-delay: 8s;
}

@keyframes testimonial-fade {
    0%   { opacity: 0; }
    3% { opacity: 1; }
    30% { opacity: 1; }
    33.33%   { opacity: 0; }
    100% { opacity: 0; }
}


/*MOBILE*/


@media only screen and (max-width: 600px) {
    p {
        font-size: 14pt;
    }
    a {
        text-decoration: none;
        color: #32C63F;
    }
    .anchor {
    }
    .header {
        height: 100px;
    }
    .dp {
    }
    .menu {
        right: 20px;
    }
    .menu li {
        visibility: hidden;
        pointer-events: none;
        text-align: center;
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.4s ease;
        transform: translateY(76px);
    }
    .active li {
        transform: translateY(80px);
        pointer-events:auto;
        visibility: visible;
        display: block;
        background-color: rgba(26, 26, 26, 0.95);
        padding: 30px;
        opacity: 1;
    }
    .menu li a {
        opacity: 1;
        font-size: 11pt;
    }
    .hamburger {
        display: block;
    }
    .mobile-non-active {
        display: none;
    }
    .mobile-non-active:active {
        display: inline-block;
        outline: 1pt solid red;
    }
    .section {
    }
    h1, body.servicespage .section h1 , body.servicespage .section3 h1 {
        font-size: 30pt;
        top: 40px;
        left: 40px;
        line-height: 40pt;
    }
    .textbox {
        top: 240px;
        left: 40px;
        max-width: 600px;
    }
    .textbox p {

        font-size: 16pt;
        line-height: 20pt;
    }
    body.homepage .section1 .textbox {
        position: relative;
        margin-top: 40px;
        max-width: 85%;
        top: 140px;
    }
    .messenger-link {  
        display: none;
    }
    .section1 h1 {
        top: 150px;
        position: relative;
        max-width: 85%;
    }
    .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .section .bg-img, .bg-img-third {
    }
    .bg-img-third {
        width: 100%;
    }
    .darken {
        width: 100%;
    }
    .third-column .darken {
        width: 100vw;
    }
    .first-third-column .darken {
        left:0;
    }
    
    .third-third-column .darken {
        left: 200vw;
    }
    .second-third-column .bg-img-third {
        left:100vw;
    }
    .third-third-column .bg-img-third {
        left:200vw;
    }
    .img-credit {
        display:none;
    }
    .next-button {
        bottom: 80px;
        margin: auto;
        display: none;
    }
    .third-column {
        width: 100vw;
    }
    .first-third-column {
    }
    .client-logo {
        width: 200px;
        position: relative;
        margin: 40px;
    }
    .third-column p {
        width: calc(100vw - 100px);
    }
    .third-column li {
    }
    .third-column li img {
        width: 40px;
    }

    .section3 h1 {
        color: black;
    }
    .section3 .pastlogos-wrapper {
        top: 180px;
        left: 40px;
        max-height: 80%px;
    }

    .past-logo {
        margin: 20px;
        
    }
    .linktree {
        display: none;
    }
    .section4 .services-icon-wrapper {
        font-size: 20pt;
        top: 140px;
        left: 40px;
    }
    .section4 .services-icon-wrapper li {
    }
    .section4 .services-icon-wrapper img {
    }
    .section4 .services-icon-wrapper h3 {
        max-width: 300px;
    }
    .testimonial {
    }


    /*ABOUT*/


    .whoiam-img {
        width: calc(100vw - 80px);
        margin-bottom: 20px;
        height: auto;
        top: 200px;
        position: relative;
        display: inline-block;
    }

    body.aboutpage .section h1 {
        top: 40px;
    }
    body.aboutpage .section.section1 .textbox {
        top: 200px;
        position: relative;
        max-width: 85%;
    }
    body.aboutpage .section1 h1 {
        top: 140px;
    }
    body.aboutpage .section .textbox, body.servicespage .section .textbox {
        top: 140px;
    }
    body.servicespage .section .textbox {
        position: relative;
        max-width: 85%;
        margin-top: 40px;
    }


    /*SERVICES*/

    body.servicespage .section1 h1 {
        top: 140px;
    }

    .green-button {
        
        float: left;
    }

    .section1 .servicespage-icon {
        top: 240px;
    }
    .servicespage-icon {
        top: 340px;
        height: 200px;
    }
    .green-button {
    bottom: 40px;
    top: auto;
    }

    /*CONTACT*/

   
    body.contactpage .testimonial li {
        display: none;
    }
}